/* Header styling */
header {
  position: fixed; /* Fix the header to the top of the screen */
  top: 0;
  left: 0;
  width: 98%;
  z-index: 100; /* Ensure the header appears above other content */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px; /* Add padding to create some space around the logo and links */
}

.logo img {
  width: 50px; /* Adjust the width of the logo image */
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  padding-right: 20px;
}

.nav-links li {
  margin: 0 5px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}