.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive columns */
    gap: 20px;
    padding: 20px 5vw;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

#research {
  min-height: 56.3vh;
}